*.aps
*.aws
*.eep
*.elf
*.hex
*.hex.old
*.lss
*.lst
*.map
*.o
*.sym
*.tmp
*.vp*
*.vtg
*.xpr
.DS_Store
*.autosave
generated
build
log
src/*.d
src/_private_macros.h
# qtcreator files
*.creator*
*.files
*.config
*.includes
*.orig
*.rej
