#define MACROCOUNT   3
#define MACROLEN    20

static const char EEmacrosC[MACROCOUNT][MACROLEN]  =  {
    "SampleString!",
    // CTRL+ALT+DEL
    // CTRL+ALT+DEL
    { ((1<<0)|(1<<2)/*L_CTL|L_ALT*/)+0x80, 127, '\0' },
    // ^c ^t ^v return for firefox
    { 0x81, 'c' , 0x81, 't', 0x81, 'v', '\0' },
};

